# While Loop

In [1]:
a =0
while (a<10):
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

In [2]:
a =0
while (a<10):
    a+=1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [3]:
fav_dishes=[]
flag=True
while(flag):
    fav_dish=input("Enter your favourite dishes and quite")
    fav_dishes.append(fav_dish)
    if fav_dish == "quit":
        flag = False
fav_dishes

Enter your favourite dishes and quiteBiryani
Enter your favourite dishes and quiteQorma
Enter your favourite dishes and quitequit

['Biryani', 'Qorma', 'quit']

In [4]:
fav_dishes=[]
flag=True
while(flag):
    fav_dish=input("Enter your favourite dishes and quite")
    if fav_dish == "quit":
        flag = False
    else:
        fav_dishes.append(fav_dish)
fav_dishes

Enter your favourite dishes and quiteBiryani
Enter your favourite dishes and quiteqorma
Enter your favourite dishes and quitequit

['Biryani', 'qorma']

# Set

collection of well defined or distinct object

In [5]:
aset = {12,13,14,15,12,13,12}

In [6]:
aset

{12, 13, 14, 15}

In [7]:
aset.copy()

{12, 13, 14, 15}

In [13]:
aset.pop()

12

In [16]:
aset.update("20")

In [17]:
aset

{'0', 13, 14, 15, '2'}

In [18]:
aset_str = {"Ali","Samad","Bilal","Ahmed"}

In [19]:
aset_str

{'Ahmed', 'Ali', 'Bilal', 'Samad'}

In [20]:
aset_str.pop()

'Samad'

In [21]:
aset_str

{'Ahmed', 'Ali', 'Bilal'}

In [22]:
aset_str.update("nasir","hanif")

In [23]:
aset_str

{'Ahmed', 'Ali', 'Bilal', 'a', 'f', 'h', 'i', 'n', 'r', 's'}

# Tuple

In [24]:
atuple = (23,24,42)

In [25]:
atuple

(23, 24, 42)

In [27]:
atuple.count(23)

1

In [29]:
a = list(atuple)

In [30]:
type(a)

list

# Dictionary

In [31]:
dict = {}

In [32]:
type(dict)

dict

In [33]:
dict  = {1:"ali",2:"abdul"}

In [34]:
dict

{1: 'ali', 2: 'abdul'}

In [35]:
dict.keys()

dict_keys([1, 2])

In [36]:
dict.values()

dict_values(['ali', 'abdul'])

In [37]:
dict.items()

dict_items([(1, 'ali'), (2, 'abdul')])

# List Comprehension

In [39]:
#seprate even and odd number from list
even = []
odd = []
for num in range(30):
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [40]:
numbers = [num+num*0.2 for num in range(30)]
numbers

[0.0,
 1.2,
 2.4,
 3.6,
 4.8,
 6.0,
 7.2,
 8.4,
 9.6,
 10.8,
 12.0,
 13.2,
 14.4,
 15.6,
 16.8,
 18.0,
 19.2,
 20.4,
 21.6,
 22.8,
 24.0,
 25.2,
 26.4,
 27.6,
 28.8,
 30.0,
 31.2,
 32.4,
 33.6,
 34.8]

In [41]:
numbers = [num+num*0.2 for num in [23,10,25,20,19] if num<25]
numbers

[27.6, 12.0, 24.0, 22.8]

In [42]:
numbers = [num+num*0.2 if num<23 else "Do more Hardwork" for num in [23,10,25,20,19]]
numbers

['Do more Hardwork', 12.0, 'Do more Hardwork', 24.0, 22.8]